@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
}

.first-day {
  grid-column-start: var(--firstDay);
}
