---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: "Barlow", sans-serif;
        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
		background: #f5f5f5;
		color: #323949;
	}

	html.dark {
		font-family: "Barlow", sans-serif;
        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
		background: #323949;
		color: #f5f5f5;
	}

    body {
        display: flex;
        /* justify-content: center; */
    }
</style>
